<div>31w52nd:<%= image_tag("portgifs/31w52nd-desk.gif")%> <%= image_tag('portgifs/31w52nd-phone.gif') %></div>
<div>1325aoa:<%= image_tag("portgifs/1325aoa-desk.gif")%> <%= image_tag('portgifs/1325aoa-phone.gif') %></div>
<div>asai-phone: <%= image_tag("portgifs/asai-desk.gif")%> </div>
<div>beatty: <%= image_tag("portgifs/beatty-desk.gif")%> <%= image_tag('portgifs/beatty-phone.gif') %></div>
<div>buildingsimulator:<%= image_tag("portgifs/buildingsimulator-desk.gif")%></div>
<div>hines:<%= image_tag("portgifs/hines-desk.gif")%> <%= image_tag('portgifs/hines-phone.gif') %></div>
<div>longfellow: <%= image_tag("portgifs/longfellow-desk.gif")%> <%= image_tag('portgifs/longfellow-phone.gif') %></div>
<div>mit: <%= image_tag("portgifs/mit-desk.gif")%> <%= image_tag('portgifs/mit-phone.gif') %></div>
<div>mrp: <%= image_tag("portgifs/mrp-desk.gif")%> <%= image_tag('portgifs/mrp-phone.gif') %></div>
<div>rxr: <%= image_tag("portgifs/rxr-desk.gif")%> <%= image_tag('portgifs/rxr-phone.gif') %></div>
<div>seaport: <%= image_tag("portgifs/seaport-desk.gif")%> <%= image_tag('portgifs/seaport-phone.gif') %></div>
<div>zerobond: <%= image_tag("portgifs/zerobond-desk.gif")%> <%= image_tag('portgifs/zerobond-phone.gif') %></div>
