
<!-- http://jsfiddle.net/D8DZP/ -->
    <body class="portfolio">


<div class="loader"></div>
       <div id="main" class="collapsfix alpha0 relative">
       <nav class="pagination">
           <ul class="ul-nostyle">
           <li><a href="#video"><span></span></a></li>
           <li><a href="#awebdeveloper"><span></span></a></li>
           <li><a href="#primarystack"><span></span></a></li>
           <li><a href="#myportfolio"><span></span></a></li>
           <li><a href="#workexperience"><span></span></a></li>
           </ul>
       </nav>
           <header id="video" class="scrolling">
               <div class="logo"></div>
               <div class="video relative">
                    <div id="youtube" class="relative">
                    <div class="close absolute"><a href="#"></a></div>
                    </div>
                   <div class="description centerAbsolute">
                        <BR>
                        <BR>
                        <BR>
                       <h1 class="proximaBold antialiased">Developer</h1>
                       <h2 class="mainText antialiased">Helping clients with their needs.</h2>
                       <div class="share clearfix">
                         <!-- <a href="http://www.erictheprogrammer.com" target="_blank" class="play clearfix proximaBold relative"><span class="cta floatL">Check out my blog</span></a> -->
                         <br>
                       <h3 class="clearfix"><span class="line floatL"></span><span class="floatL title">Social</span><span class="line floatL"></span></h3>
                           <ul class="reList ul-nostyle clearfix" >
                               <li class="floatL fb"><a href="https://www.github.com/ericjlima" target="_blank"><%= image_tag("git-icon.png") %></a></li>
                               <li class="floatL tw"><a href="https://twitter.com/ericprogrammer" target="_blank"><%= image_tag("share-tw@2x.png") %></a></li>
                               <li class="floatL in"><a href="https://www.linkedin.com/in/eric-lima-210b8812" target="_blank"><%= image_tag("share-in@2x.png")%></a></li>
                               <!-- <li class="floatL g"><a href="http://www.youtube.com/erictheprogrammer" target="_blank"><img src="img/share-g@2x.png" width="18" height="18" alt="Google+"></a></li> -->
                           </ul>
                       </div>
                   </div>
               </div>
           </header>
           
           <div class="scroll1 proximaBold collapsfix">
               <h4 class="scrollText">Who am I?</h4>
               <div class="next"><a href="#awebdeveloper"></a></div>
           </div>
           
           <div id="01" class="number proximaBold"><div>1</div></div>
           
           <section id="awebdeveloper" class="collapsfix scrolling mainWidth sectionPadding">
               <h1 class="mainText eric__transeffec">I'm <strong class="keyword">Eric Lima</strong>.<br> A web developer.</h1>
               <figure class="eric__transeffec"></figure>
               <p class="eric__transeffec">I've been developing websites since I was 12 years old. Eventually, my love for programming lead me to pursue a <strong>Bachelors of Science degree in Computer Science</strong> at University of Massachusetts at Lowell. My continued interest in programming also facilitated the design of this website that you are now viewing, which uses my favorite web development technologies: <a href="#primarystack" title="Click here to scroll down">Ruby on Rails with React</a>.<br><br>

Some of my early work included creating websites for various products at General Electric.<br><br>

Currently, I am working fulltime to build client websites. While I have completed over 40 projects, I have highlighted only some of my best work below.
</p>
           </section>
           <div class="scroll proximaBold collapsfix">
               <div class="next"><a href="#myportfolio"></a></div>
           </div>
           <div class="number proximaBold"><div>2</div></div>
           
           
           <section id="myportfolio" class="collapsfix scrolling mainWidth sectionPadding">
    <!--        <h1 class="mainText eric__transeffec"><strong>Portfolio</strong></h1>
           <div class="clearfix">
                   <div class="cul floatL eric__transeffec" style="padding-left:370px;">
                       <a  href="https://docs.google.com/file/d/0B2tbimrE4gRZRXFuZG9hcXRJVTQ/edit?usp=sharing"><figure style="margin-left:30px;" class="img04"></figure> </a>
                       <p>Having recently finished working for startups, I am currently looking for a role in software development with plenty of challenging projects to devour and work with a team that has a great creative outlook.</p>
                   </div>
               </div>
            -->

                       <h1 class="mainText eric__transeffec">My <strong>Portfolio</strong></h1>
           <div class="clearfix">
                   <div class="cul floatL eric__transeffec">
                       <a  href="posts/14"><figure class="img01"></figure></a>
                       <p>A site created for MRP Realty in Downtown Manhattan.</p>
                   </div>
                   <div class="cul floatL eric__transeffec">
                       <a  href="posts/8"><figure class="img02"></figure></a>
                       <p>A site for Longfellow. They invest capital for innovation growth in real estate.</p>
                   </div>
                   <div class="cul floatL eric__transeffec">
                        <a  href="posts/9"><figure class="img03"></figure></a>
                       <p>Among New York Tri-State area’s leading real estate companies with a portfolio of 92 major building projects.</p>
                   </div>
                   <div class="cul floatL eric__transeffec">
                        <a  href="posts/10"><figure class="img04"></figure></a>
                       <p>Victory Center is a new building to the Dallas skyline's vibrant urban districts.</p>
                   </div>
                  <div class="cul floatL eric__transeffec">
                        <a  href="posts/11"><figure class="img05"></figure></a>
                       <p>31 West 52nd Street is a first-class office tower ideally located in Midtown Manhattan.</p>
                   </div>
                   <div class="cul floatL eric__transeffec">
                        <a  href="posts/12"><figure class="img06"></figure></a>
                        <p>Harbor Point is the forefront in sustainability and innovation for Baltimore.</p>
                   </div>
                   <div class="cul floatL eric__transeffec">
                        <a  href="posts/13"><figure class="img07"></figure></a>
                       <p>Located in Manhattan, 1325 AOA puts mid in midtown.</p>
                   </div>
                   <div class="cul floatL eric__transeffec">
                        <a href="posts/14"><figure class="img08"></figure></a>
                       <p>Kendall Square is a new high tech hub vetted by MIT and Harvard. This site features their new hub.</p>
                   </div>
                           <div class="cul floatL eric__transeffec">
                        <a  href="posts/15"><figure class="img09"></figure></a>
                       <p>A workspace in Brooks Brothers Landmark NY.</p>
                   </div>
                           <div class="cul floatL eric__transeffec">
                        <a href="posts/16"><figure class="img10"></figure></a>
                       <p>A temp site featuring Boston's Seaport Square. Home of influential global tech companies.</p>
                   </div>
                           <div class="cul floatL eric__transeffec">
                        <a href="posts/17"><figure class="img11"></figure></a>
                       <p>A wordpress site co-developed as the backend dev for Neoscape. ASAI does work such as events relating to artists.</p>
                   </div>
                   <div style="visibility:hidden;" class="cul floatL eric__transeffec">
                        <a  href="http://ericvibe.com/"><figure class="img12"></figure></a>
                       <p>A building simulator prototype created for Neoscape utilizing the JS library ThreeJS.</p>
                   </div>
               </div>

           </section>
           <div class="scroll proximaBold collapsfix">
               <div class="next"><a href="#primarystack"></a></div>
           </div>
           <div class="number proximaBold"><div>3</div></div>

           <section id="primarystack" class="collapsfix scrolling mainWidth sectionPadding">
               <h1 class="mainText eric__transeffec"><strong>What</strong> languages do I prefer as my primary <strong>stack</strong>?</h1>
               <div class="clearfix">
                   <div class="cul eric__transeffec floatL">
                       <figure class="img01"></figure>
                       <h2 class="proximaBold">Ruby<br></h2>
                       <div class="line"></div>
                       <p>Ruby is what I love about programming. It's slick and easy. It doesn't have any strange issues with it's syntax. It's my personal choice for web development. I also know PHP, ASP.Net, and Python however. </p>
                   </div>
                   <div class="cul eric__transeffec floatL">
                       <figure class="img02"></figure>
                       <h2 class="proximaBold">Rails<br> <br></h2>
                       <div class="line"></div>
                       <p>Rails is a noteworthy framework in the web dev world because it contains many of the modern development practices and is rather modular. It allows you to have the ability to develop sites quickly and effectively. </p>
                   </div>
                   <div class="cul eric__transeffec floatL">
                       <figure class="img03"></figure>
                       <h2 class="proximaBold">React</h2>
                       <div class="line"></div>
                       <p>React can very well be the future of javascript web frameworks. It's proving itself to be the most well rounded framework for organizing data. Many major brands are adopting React in their big projects.</p>
                   </div>
               </div>
           </section>

           <div class="scroll proximaBold collapsfix">
               <div class="next"><a href="#workexperience"></a></div>
           </div>
           <div class="number center proximaBold"><div>4</div></div>
           
           <section id="workexperience" class="collapsfix scrolling mainWidth sectionPadding">
           <h1 class="mainText eric__transeffec">Work <strong>Experience</strong></h1>
                <div class="clearfix">
                   <div class="cul floatL eric__transeffec">
                        <figure class="img01"></figure>
                       <h2 class="proximaBold">Web Development</h2>
                       <div class="line"></div>
                       <p>Front or Back End Developer. I am enjoying it all. I am strong in both. I've been working full stack for nearly all of my clients and personal work. I'm unscripted because I'm focused on delivering a website itself. Not particular items, but the whole thing.</p>
                   </div>
                   <div class="cul floatL eric__transeffec">
                        <figure class="img02"></figure>
                       <h2 class="proximaBold">Startups<br></h2>
                       <div class="line"></div>
                       <p>I am part of the Reverse Startups Foundation run by a senior level friend of mine named Michael Bourque. Together we founded a startup called uSignal. Currently I'm not involved with many startups but it's still an interesting area for me.</p>
                   </div>
                   <div class="cul floatL eric__transeffec">
                        <figure class="img03"></figure>
                       <h2 class="proximaBold">General Computing</h2>
                       <div class="line"></div>
                       <p>If you were to take a look at all the statistics of my life, then you'd probably see something quite noteworthy. That thing would be the amount of time I've spent my life away infront of a computer screen. I should probably go outside once in a while. </p>
                   </div>
                   <div class="cul floatL eric__transeffec">
                        <figure class="img04"></figure>
                       <h2 class="proximaBold">Information Technology</h2>
                       <div class="line"></div>
                       <p>I've worked in the IT field for a small while. While I've never found IT as interesting to me as Web Dev, I did have a couple of short contract roles or jobs that involved me doing fixing the hardware part of computers.</p>
                   </div>
               </div>
           
           </section>
           <div class="scroll proximaBold collapsfix">
               <div class="next"><a href="#myambition"></a></div>
           </div>
            <div class="number center proximaBold"><div>5</div></div>
           
           <section id="myambition" class="scrolling clearfix mainWidth">
               <h1 class="mainText eric__transeffec">My ambition is to <br>show how I <strong>can use</strong> <br><strong>technologies</strong> to improve peoples lives and <strong>day to day</strong> <br>experiences</h1>
               <div class="clearfix">
                   <div class="cul eric__transeffec floatL">
                        <div class="verticalLine"></div>
                        <figure class="cutimage relative"><%= image_tag("github-markgrey.png", :class => "centerAbsolute") %><!--img class="centerAbsolute" src="images/cutimage01.jpg" alt="img1"--></figure>
                        <h2 class="proximaBold">I like to Open <br>Source</h2>
                        <div class="line"></div>
                        <p>The open source movement is huge and it’s only getting bigger. It can be scary for some people to post their hard work to the public, but there’s a lot of good that can come of it.</p>
                        <div class="space"></div>
                        <div class="verticalLine"></div>
                        <figure class="cutimage relative"><%= image_tag("robot-icon.jpg", :class => "centerAbsolute") %><!--img class="centerAbsolute" src="img/cutimage03.jpg" alt="img2"--></figure>
                        <h2 class="proximaBold">New Tech</h2>
                        <div class="line"></div>
                        <p>Lots of really cool technologies are being developed. Just recently the world is getting booster boards, electric cars, electric motors, arduinos, etc. I can't help but love these things because they make my life more automated, cost efficient, and just awesome.</p>
                   </div>
                   <div class="cul center eric__transeffec floatL">
                        <div class="verticalLine"></div>
                        <figure class="cutimage relative"><%= image_tag("cutimage02.jpg", :class => "centerAbsolute") %><!--img class="centerAbsolute" src="img/cutimage02.jpg" alt="img3"--></figure>
                        <h2 class="proximaBold">Local Communities</h2>
                        <div class="line"></div>
                        <p>Helping the local communities around me with software is something I care passionately for. I've helped non-profit organizations such as Code for Boston doing wonderful things. I've worked on non profit projects for the MBTA as well as others.</p>
                   </div>
                    
                   <div class="cul eric__transeffec floatL">
                        <div class="verticalLine"></div>
                        <figure class="cutimage relative"><%= image_tag("cutimage04.jpg", :class => "centerAbsolute") %><!--img class="centerAbsolute" src="img/cutimage04.jpg" alt="img4"--></figure>
                        <h2 class="proximaBold">General<br></h2>
                        <div class="line"></div>
                        <p>I love doing odd ball things with my programming skills. I love working on creating server environments, distributed system, arduinos, drones etc.. </p>         
                   </div>
               </div>  
           
           </section>
           
            <div class="line"></div>
           <footer class="relative">
       <div class="cont"><a href="http://www.linkedin.com/profile/view?id=44720940&amp;trk=tab_pro">
            <figure class="bigTwitter"></figure>
            <div class="line"></div>
                <p class="mainText reList">Add me  <br class="br1">on <br>Linkedin</a></p>
            <div class="line"></div>
            <p class="mainText reList">Thanks for viewing my portfolio.</p>
         <!--a target="_blank" href="" class="reList2">Click here to view my resume.</a-->
   <%= link_to 'Click here to view my resume.', resume_path, class: "reList2", target: "_blank" %>

</div>

       <div class="trinagle"></div>
       </footer>
       
       </div>

    </body>
