<!DOCTYPE html>
<html>
<head>
  <title>Eric the Programmer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  <% content_for :portfolio do %>
    <%= stylesheet_link_tag "portfolio.css" %>
  <% end %>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Eric The Programmer', root_path, class: "navbar-brand" %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="<%= 'active' if params[:controller] == 'page' %>"><a href="#">Home</a></li>
              <li class="<%= 'active' if params[:controller] == 'posts' %>"><%= link_to 'Posts', posts_path %></li>
              <li class="<%= 'active' if params[:controller] == 'portfolio' %>"><%= link_to 'Portfolio', portfolio_path, data: { no_turbolink: true } %></li>
              <li><%= link_to 'Resume', resume_path, target: "_blank" %></li>

              <% if current_user %>
                <li><p>Logged in as <%= current_user.email %></p></li>
                <li><%= link_to "Log Out", logout_path %></li>
             <% else %>
               <li><%#= link_to "Sign Up", signup_path %></li>
               <li><%#= link_to "Log In", login_path %></li>
             <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>



<div class="eric_content">
  <div class="eric_sub_content">
    <%= yield %>
  </div>
</div>
<% flash.each do |key, value| %>
 <%= content_tag(:div, class: "alert alert-#{key}") do %>
<p><%= value %></p>
 <% end %>
<% end %>


</body>
</html>
